[2020-05-04 20:24] semioticrobotic opened #1 "Guide needs a title and a preface"
That's as good a First Issue as I can imagine!

When I created the project materials and repository, I used the working title *The Open Organization Guide to Distributed Teamwork* ("guide" because it fits nicely alongside other resources we curate, like the *Guide to IT Culture Change* and the *Guide for Educators*). But that needn't be the final title if it's not the best one.

Let's use this iss

[2020-05-04 20:44] semioticrobotic opened #2 "Add a chapter on the importance of trust"
The guide could use a chapter on the theme of "trust" in distributed work.

I've reached out to community write @ipmb to see if he'd allow us to reprint his work, "[What a lack of trust can do to a team](https://opensource.com/open-organization/17/7/lincoln-loop-trust)." Other ideas certainly welcome here.

Update: @ipmb agrees!

[2020-05-04 20:59] semioticrobotic opened #3 "Add a chapter on developing a culture of transparency"
The guide could use a chapter on the nuances of transparency in remote work.

[2020-05-04 21:00] semioticrobotic opened #4 "Add a chapter on conducting effective community calls"
Open source projects seem particularly adept at fostering community remotely. What can remote teams learn from their habits and practices?

[2020-05-04 21:02] semioticrobotic opened #5 "Add a chapter on making distributed work equitable"
What issues of equability arise in remote work scenarios, or among distributed teams? A chapter in this guide might help elucidate these and offer some tips on addressing them.

[2020-05-04 21:04] semioticrobotic opened #6 "Add chapters on supporting distributed teams"
The guide should likely include materials for managers seeking best ways to support their distributed teams. What challenges and opportunities does remote work pose and afford? How can working more openly help managers address these?

[2020-05-04 21:05] semioticrobotic opened #7 "Add a chapter on considerations for selecting communication tools"
This seems like a natural fit for the guide: a chapter on communication habits and practices typical of successful open communities and organizations. How does working in a distributed fashion require people to think differently about their communication styles and preferences?

[2020-05-04 21:07] semioticrobotic opened #8 "Add a chapter on building cohesive remote teams"
Open organizations and communities often benefit from explicit social contracts and records of conventional social norms. We might consider some material on establishing and maintaining social norms and contracts transparently and collaboratively.

[2020-05-04 21:08] semioticrobotic opened #9 "Add a chapter on accountability"
This seems like a big one: How do open source projects and other open organizations maintain high degrees of accountability? What can remote, distributed teams learn from them?

[2020-05-04 21:09] semioticrobotic opened #10 "Add a chapter on asynchronous decision making"
Distributed teams often need to make collective decisions in an asynchronous way, often across time zones and geographies. What sorts of open practices can facilitate this?

[2020-05-04 21:13] semioticrobotic commented on #6
In a private email thread, Ambassador Emeritus @arob98 agrees to contribute this! :fireworks:

[2020-05-04 21:30] semioticrobotic commented on #5
Nonchalantly tagging @LauraHilliger, as this was her great suggestion.

[2020-05-05 11:57] LauraHilliger commented on #4
co-op has been working on a successful virtual meetings email course, I find that good meetings = fostering community by default. Perhaps we can rip and remix:

https://learnwith.weareopen.coop/

[2020-05-05 12:17] LauraHilliger commented on #10
Ohhh, we've done loads of fun things here and especially @iamjessklein is a master for participatory, async decision making. [Check out an old piece](https://medium.com/planet4/who-are-we-designing-for-5cde10d8f41d) about how we narrowed down Greenpeace's audience using Dot Voting, a spectrogram, etc

[2020-05-05 12:21] LauraHilliger commented on #1
Given the content, I feel like this is multimedia. Videos about how to do different types of online, participatory exercises, synch or asyc, a sound interview for accountability...would be fun to miz it up. Then we can have all the written bits in the Guide and on it's download page, something like "Source Collection for Distributed People"

[2020-05-05 12:22] LauraHilliger commented on #9
Podcast?

[2020-05-05 12:31] semioticrobotic commented on #9
Are you suggesting that teams use a podcast to maintain accountability in distributed environments, and we should write a guide chapter on how to do this? Or are you suggesting that we answer this question with a podcast rather than something written for this guide?

Sorry, perhaps I'm being dense—coffee still kicking in.

[2020-05-05 12:32] LauraHilliger commented on #9
This: suggesting that we answer this question with a podcast rather than something written for this guide

And then we can transcribe it :D

[2020-05-05 12:37] semioticrobotic commented on #1
Interesting idea! I can see this working well—perhaps start with a downloadable guide as a sort of "minimum viable product" (I'm thinking our "v1.0" will be something like six or seven collected pieces, to get us started), then build out a complimentary page online where readers can go to access learning materials, like a few video explainers, a podcast, a tutorial or two, etc. Could be really coo

[2020-05-05 12:39] semioticrobotic commented on #10
Nice! And I realize "asynchronous decision making" is a *really* broad topic, so I suspect we'll eventually see individual contributions covering various asynchronous decision-making styles, techniques, experiences, etc. (a chapter on using the "dot method" at a distance, etc.). Would love to see this!

[2020-05-05 12:42] semioticrobotic commented on #9
Ah! Okay. Thanks for clarifying. :smile:

Would be great to see. And our community has already written *tons* on openness and accountability, so today I plan to trawl through our archives and see if something already written could begin addressing this (no need to re-invent). And then maybe as part of that we could:

- Do an interview with the author, asking for an update, then link out to it
- Re

[2020-05-05 12:44] semioticrobotic commented on #4
Would love to see that, @LauraHilliger. If you don't mind, I'll assign this chapter to you so I remember to track this discussion and we can work toward bringing a brief version of your tutorial to life as a chapter in the guide. Super great.

[2020-05-05 15:27] semioticrobotic opened #11 "Add a chapter on the benefits of transparent issue tracking"
Remote teams benefit from shared, transparent issue tracking systems and practices—something with which open communities have particular experience. Long ago, we published work from @chadwhitacre on [this very topic](https://opensource.com/open-organization/17/2/tracking-issues-publicly) and I'd very much love if he'd consider including something like this in the guide.

[2020-05-05 15:29] funnelfiasco commented on #7
I wrote a [blog post](https://funnelfiasco.com/blog/2019/01/07/picking-communication-tools-for-your-community/) a while back that would fit well into this section as a starting point. There's some stuff in my giant [WFH post](https://funnelfiasco.com/blog/2020/04/07/working-from-home-my-advice/) that would fit, too.

[2020-05-05 15:31] funnelfiasco opened #12 "Add an introductory chapter"
Why even have distributed work?

[2020-05-05 15:32] funnelfiasco commented on #12
Stealing heavily from my previous [OpenOrg article](https://opensource.com/open-organization/19/1/remote-work-inclusivity) would fit well here, as @semioticrobotic and I discussed in chat.

[2020-05-05 15:35] semioticrobotic commented on #12
Love it. I've earmarked a place in the table of contents for this, and you've got it.

[2020-05-05 17:07] semioticrobotic commented on #7
I really like the "considerations" material you link here, especially the "questions-to-ask-yourself" nature of it. I wonder if you could write a slightly more robust introduction that puts the questions and considerations more squarely in the context of distributed teamwork—that is, explain a bit more deeply why these considerations *are* considerations in the context of remote work (what makes t

[2020-05-05 17:15] funnelfiasco commented on #7
For sure. The yet unwritten parts cover etiquette and communication norms. I think that would flow pretty well from this starting point. It might absorb #8 or complement it. I guess we'll see what it looks like as words start hitting the page.

[2020-05-05 17:25] semioticrobotic commented on #7
All sounds great, @funnelfiasco. Looking forward to working with you on this (and learning from you!).

[2020-05-06 20:44] funnelfiasco commented on #7
Anyone have strong opinions about bridging platforms (e.g. Telegram <-> IRC)? The more time passes, the more strongly I oppose this, but I don't necessarily want to give spicy takes in a collective work.

[2020-05-06 22:46] semioticrobotic commented on #7
I'm not savvy enough to know whether this is gauche these days, but I'd say that advocating whatever helps mainstream audiences best succeed without much overhead is an acceptable position for this collection. Others may feel more strongly.

[2020-05-07 07:31] jimmysjolund commented on #10
I think my draft on A3 reports (that was part of the visualizing work) also touch on this subject.

[2020-05-07 07:35] jimmysjolund opened #13 "Add a chapter on Communication practices typical of high-performing remote teams"
Perhaps my previous chapter on Visualizing work updated with my drafts on remote collaboration and phsycological safety could fit into this heading?

[2020-05-07 13:34] semioticrobotic commented on #13
I'd really love to see this, @jimmysjolund. When you have a free moment (ha!), would you be able to whip up a brief, general outline of the article and share it so we can get a more concrete sense of what you're imagining?

[2020-05-07 13:36] semioticrobotic commented on #10
I fully expect that we'll have multiple pieces that touch, in some way, on this theme, so we'll create new issues for the work(s) as their directions become more clear. Also hoping (:pray:) @iamjessklein will consider, too, because previous work looks amazing.

[2020-05-08 12:48] semioticrobotic opened #14 "Add a chapter on the benefits of intentional relationship management"
Ambassador Lauri Apple has agreed to rework some of [her former writing on Intentional Relationship Management](https://opensource.com/open-organization/18/2/intentional-relationship-design-1) for the guide.

[2020-05-11 17:32] semioticrobotic opened #15 "Add a chapter on self-organizing teams"
Community contributor @alexismonville has graciously agreed to reprise his work on [self-organization and open management](https://opensource.com/open-organization/18/8/self-organizing-team-management) for the guide.

[2020-05-11 17:46] semioticrobotic commented on #15
I've now pushed @alexismonville initial draft [to the project repository](https://github.com/open-organization/open-org-distributed-work-guide/commit/0ecbf4eeb31731316ebac7d089443a5196429ccb). The author will propose small revisions that better situate the guide in the specific context of distributed teamwork (won't be difficult!).

[2020-05-12 17:10] semioticrobotic opened #16 "Add a chapter on avoiding naked pings"
Astute observer @jzb would like to contribute a chapter on avoiding "naked pings" (and other foibles associated with asynchronous chat), drawn on his (and others') experiences in open organizations like open source communities.

[2020-05-12 17:16] semioticrobotic opened #17 "Add a chapter on open practices that lead to better remote meetings"
Remote meetings can be tricky; following open principles and embracing open practices can make them run a bit smoother.

[2020-05-12 17:16] jzb commented on #16
Do we want to limit this to "naked pings" / chat?

[2020-05-12 17:19] semioticrobotic commented on #16
I'm happy to explore any direction you'd like, but I'm especially interested in the angle that sounds like: "here's how practitioners of open work have developed some best practices and etiquette for working remotely using chat applications, and here's why they're important."

What else are you thinking?

[2020-05-12 17:55] funnelfiasco commented on #16
An entire chapter on this seems like a lot. I'd think it's more of a few paragraphs. I'd planned on including it in the chapter on communication tools (#7) despite the limited scope of that issue's title. I'd be more than happy to let @jzb tackle that section.

[2020-05-12 17:59] semioticrobotic commented on #16
An interesting avenue I had not considered. Happy to work in whatever direction you both determine is best.

[2020-05-12 18:11] funnelfiasco commented on #17
@alexismonville if you plan to cover text-based (IRC in particular, but any text-based meeting), feel free to steal heavily from my [Opensource.com article](https://opensource.com/article/19/2/irc-vs-irl-meetings).

[2020-05-12 18:18] semioticrobotic commented on #16
Additional note that @jimmysjolund is also working on something great vis-à-vis asynchronous communication and visualization in #13.

[2020-05-14 18:21] semioticrobotic opened #18 "Add a chapter on developing a distributed team's charter"
How can a distributed team construct its charter in an asynchronous way? Ambassador @amatlack will convey her process in this chapter.

[2020-05-14 18:22] semioticrobotic opened #19 "Add a chapter on empowering a distributed team by collaboratively developing a charter"
Ambassador @amatlack would like to reprise [her work on empowerment](https://opensource.com/open-organization/18/10/understanding-engagement-empowerment) to situate it specifically in the context of distributed/remote teams.

[2020-05-15 10:49] chadwhitacre commented on #11
Hah! So meta! :D

Yes, I would love to see the piece on issue tracking continue to provide value in this unique environment we find ourselves in. Thanks for thinking of me/it!

[2020-05-15 12:26] semioticrobotic commented on #11
Woo hoo!

Great to see you again, @chadwhitacre. Though I'm a bit disappointed by the lack of flamenco dancing emojis in your response.

I'll get to work inputting the piece into this repo and you'll have an opportunity to review and revise if you wish.

[2020-05-15 13:37] semioticrobotic commented on #11
I've merged this, @chadwhitacre, and wanted to note that here in case you [wanted to take a look](https://github.com/open-organization/open-org-distributed-work-guide/blob/master/00_whitacre-tracking-issues-publicly.md). Could you offer an updated bio statement?

[2020-05-19 01:05] chadwhitacre commented on #11
Moving to a PR in #20. 💃

[2020-05-19 06:24] alexismonville commented on #17
Thank you!

On Tue, May 12, 2020 at 8:17 PM Ben Cotton <notifications@github.com> wrote:

--

Alexis Monville
*alexis@monville.com <alexis@monville.com>*
M: +33 6 75 73 54 82 <+33+6+75+73+54+82>
@alexismonville <https://twitter.com/alexismonville>   LinkedIn
<https://www.linkedin.com/in/alexismonville>

Books:
Changing Your Team From The Inside
<https://alexis.monville.com/en/changing-your-team-fr

[2020-05-19 11:18] #11 closed

[2020-05-19 11:19] semioticrobotic commented on #2
Ready for production

[2020-05-19 11:19] #2 closed

[2020-05-19 14:29] jzb commented on #16
How about a more "best practices and etiquette" chapter approach?

[2020-05-19 14:34] semioticrobotic commented on #16
I like that, @jzb. In my mind, the "questions to ask when picking your tools" is one dimension deserving its own space. The "best practices and etiquette" is an additional, related issue (of which "naked pings" is but one topic/aspect) that in turn deserves its own space (even if we run them back-to-back in the guide).

Just my two cents.

[2020-05-19 14:38] funnelfiasco commented on #16
Agreed. I think the tool selection chapter may grow beyond just communication tools and into all tools, so it makes sense to have this be a separate, broad chapter.

[2020-05-19 14:38] jzb commented on #16
OK. I'll plan on "best practices and etiquette" then. Will try to get a draft out shortly.

[2020-05-19 14:47] semioticrobotic commented on #16
And I'll update the issue title so it's a better representative :smile:

[2020-05-19 15:42] semioticrobotic commented on #15
I made [a few additional copy edits](https://github.com/open-organization/open-org-distributed-work-guide/commit/07a9a792caed2d0fd247c68db8f051c643fa2a0a), @alexismonville. What do you think?

[2020-05-22 06:08] quaid opened #21 "Add a chapter on fostering a communal office feel while distributed"
There is a metaphor for the experience of thriving in an office environment, to consider it like a pond, where the various pebble drops of nuanced communication throughout the workday send ripples only discernible when in person.

I read that metaphor [in an article in 2009](https://randsinrepose.com/archives/the-pond/)--the middle of my career as a distributed team member--and I still can feel th

[2020-05-24 10:57] lasomethingsomething commented on #14
Hey, to do this should I move my published article to Markdown, add some refinements then make a PR?

[2020-05-24 18:17] semioticrobotic commented on #14
I love that plan! Does that work for you? If there's any way I can help, please do let me know.

[2020-05-24 18:21] semioticrobotic commented on #21
I really like this, @quaid, and I think it'll work well in the book. I'm thinking we'll be featuring an entire section on "building community," and I'm thinking this might work well as a kind of introductory chapter to that section.

[2020-05-24 18:32] semioticrobotic commented on #7
I would really love to call this one something like "What to Expect when You're Connecting" or "What to Select when You're Connecting."

[2020-05-27 13:21] quaid commented on #21
Yes, building community sounds like a good container for this. It's interesting to me that I avoided language like that--it gets used A LOT on community architect work, but I tend to label outward community building efforts as such without as easily recognizing the same things work on the other side of the prism.

[2020-05-29 10:03] LauraHilliger commented on #4
Hm. So for this title I am changing my mind and wondering if we've already included my "most useful post ever" (https://opensource.com/open-organization/16/1/community-calls-will-increase-participation-your-open-organization) in another book...It fits here perfectly.

The  https://learnwith.weareopen.coop could just be a "Learn more" link on the book's snazzy webpage

[2020-05-29 12:36] semioticrobotic commented on #4
You know, I thought we'd reproduced this piece in the _Field Guide_, but I'm not seeing it there after all. Huh.

So, yeah, happy to reprint this here if you'd like. I'll go ahead and get it into this repository for you to review/update/hack on as you see fit.

[2020-05-29 12:46] semioticrobotic commented on #4
Okay. This is now [merged and ready](https://github.com/open-organization/open-org-distributed-work-guide/commit/06b2b1b280dfb329414c2206e4997c625c922c0e).

[2020-06-02 18:09] alexismonville commented on #15
@semioticrobotic all looks perfect to me!
Great work!

[2020-06-02 18:38] semioticrobotic commented on #15
Excellent! Thanks, @alexismonville. I'll move us along to production. Really appreciate your partnership on this!

[2020-06-07 09:48] lasomethingsomething commented on #14
Just did it :)

[2020-06-07 09:51] lasomethingsomething commented on #14
I'm wondering if it would make sense if I add a few paragraphs here about ways teams and whole companies can be more intentional. This would fall along the lines of these suggestions:

- using meeting agendas
- weekly check-ins about process to gauge improvements
- increasing some types of documentation to sustain transparency in the org

[2020-06-07 11:43] semioticrobotic commented on #14
Thanks, @LappleApple!

I'm all in favor of expanding the chapter a bit to include those additional dimensions. And they gesture toward themes other chapters are covering, so they'd fit quite nicely into the guide's overall narrative. Please consider if you have the time!

[2020-06-08 19:00] semioticrobotic commented on #3
Contributor @guywmartin has graciously allowed us to reprint [his previous work](https://opensource.com/open-organization/17/12/chat-platform-default-to-open) on this subject, and I'm working on typesetting it straight away.

[2020-06-08 19:20] semioticrobotic commented on #3
This is [now merged and available for review](https://github.com/open-organization/open-org-distributed-work-guide/blob/master/00_martin-chat-transparency.md) if you'd like, @guywmartin. I did perform a few basic edits to update references to your (former) employer. Additional edits welcome (but certainly not required).

[2020-06-08 19:56] semioticrobotic commented on #14
I poked through a bit today and made just a few inconsequential changes (mostly formatting). Can pass back to you for those additions. Think they'd be great!

[2020-06-08 19:58] semioticrobotic commented on #4
Love it. Thanks, @LauraHilliger. Anything more to add or address before we wrap?

[2020-06-08 19:58] lasomethingsomething commented on #14
Cool, I'll try to get to them tomorrow. :)

[2020-06-10 08:32] tdbeattie opened #22 "Add a chapter about building and executing a brand new product with a globally distributed team"
A use case of building and executing the virtual residency with a distributed team

[2020-06-10 13:54] semioticrobotic commented on #22
Love this idea, @tdbeattie, and eager to work with you on it. I'll make sure you're all set up!

[2020-06-11 18:31] semioticrobotic opened #23 "Add a chapter on lessons learned from one year on a remote team"
New contributor @anupama23-tec just finished a draft on this topic and we're working on submitting it to the guide!

[2020-06-11 19:55] semioticrobotic commented on #23
Okay, @anupama23-tec: I've typeset this an merged it with the main branch. It's [ready for your review](https://github.com/open-organization/open-org-distributed-work-guide/blob/master/00_jha-one-year-on-distributed-team.md). I'd suggest just giving it a quick look to help ensure that nothing was garbled in the text conversion.

If everything looks okay to you, we'll go ahead and move this along.

[2020-06-12 05:20] anupama23-tec commented on #23
Thank you @semioticrobotic, I have reviewed the article and I'm pleased with everything in it. Let's move ahead with the next step.

[2020-06-12 16:04] semioticrobotic commented on #23
Great, @anupama23-tec! I'll take care of next steps, which involve getting your great chapter into our "preview release" of the guide, due by the end of the month. Now that you're on the project team, you can follow all project conversation [on our team page](https://github.com/orgs/open-organization/teams/guide-to-distributed-teamwork) (I'll also be ensuring that you're all looped in as we move f

[2020-06-13 21:00] semioticrobotic opened #24 "Add a chapter on movement building from home"
Contributor @chadsansing will contribute a guide chapter focused on the results of recent remote movement-building and open leadership workshops from Mozilla.

[2020-06-13 21:03] semioticrobotic opened #25 "Add a chapter on combining InnerSource and open organizational principles when becoming remote-first"
Contributor @MaineC has agree to submit a case study on this subject, reporting on years of work at Europace.

[2020-06-14 05:14] anupama23-tec commented on #23
Sounds great! Thank you so much, looking forward to it @semioticrobotic.

[2020-06-15 13:55] semioticrobotic commented on #18
Closing this as it's now a duplicate of #19.

[2020-06-15 13:55] #18 closed

[2020-06-15 14:11] LauraHilliger commented on #10
I edited the title on this one after chatting briefly with @iamjessklein. Focusing on Design decision making narrows the scope.

This might be a great opportunity to promote the Open Design Kit methods that work in a distributed environment? I think Jess will have loads of ideas here - maybe focus on 1, 2 or 3? Depends on how much you have to say about each one!

To save you time, Jess, perhaps re

[2020-06-15 22:22] #23 closed

[2020-06-15 22:30] semioticrobotic commented on #1
During a [project sprint](https://github.com/orgs/open-organization/teams/guide-to-distributed-teamwork/discussions/1), participants discussed a general affinity for the title _The Open Organization Guide to Distributed Teamwork_ and discussed keeping it around. The question is whether it should be the book's title (the more conventional approach, given our series' history) or the subtitle (the un

[2020-06-17 11:05] semioticrobotic commented on #12
Thanks for using the one-sentence-per-line convention. I did not think Markdown (and my typesetting toolchain) would cooperate with this (AsciiDoc does, and we use it—and the convention—in the Open Source Way project), but I tested it and it does! I will likely update all working drafts to use this convention.

[2020-06-17 18:21] semioticrobotic commented on #12
Made [a few additional suggestions](https://github.com/open-organization/open-org-distributed-work-guide/commit/4b455f3578c70d9530f392d71b27cccdb374f619#diff-c9bb93f11ac485ea2e0c3ee266f2cfb3) on the introduction this afternoon, @funnelfiasco. I also left one inline comment for you. Take a look and see what you think.

[2020-06-17 18:33] funnelfiasco commented on #12
It'd be helpful to put the editorial changes and the file rename in separate commits so I can look at the diff and see what you changed. I'll download the raw versions and compare them.

Also, GitHub supports adding comments to lines in the web UI, so that might be an easier feedback approach than adding comments in the file.

[2020-06-17 18:41] semioticrobotic commented on #12
Oh, crap. You're totally right. I had not considered that consequence of renaming the file (not the inconsequential action I assumed it'd be!). Sorry to make the extra work for you.

I remembered that just a second too late! But will surely use it next time. Thanks for your patience with a n00b like me. :smiley:

[2020-06-17 18:49] funnelfiasco commented on #12
I'm the last person who can complain about using git to make someone else's life harder. ;-)

The edits look good to me.

For line 66, what I was going for is that the suggestion is about adding new people to the community, but also about allowing the people you have to be more productive. It may be that we're not really talking about adding new people, in which case, I think I know how I want to

[2020-06-17 20:58] semioticrobotic commented on #12
I see. Thanks. I do believe it's the latter. Let me float some comments in the diff and we can go from there (good excuse to test that workflow).

[2020-06-19 23:49] guywmartin commented on #3
Thanks @semioticrobotic - this looks good - and I appreciate you switching things around to reference the fact that it's my former role now.  I'm good with this in its current form now.

[2020-06-20 14:50] semioticrobotic commented on #3
Great! Thanks so much, @guywmartin. Delighted to be able to include this!

[2020-06-21 13:58] semioticrobotic commented on #1
Had some writing time this morning, so built on the already great work of @LauraHilliger in pushing an [updated preface](https://github.com/open-organization/open-org-distributed-work-guide/blob/master/00_hilliger-behrenshausen-preface.md). Feedback (always) welcome.

[2020-06-22 17:38] #3 closed

[2020-06-22 17:52] semioticrobotic commented on #4
Reopening this because I realized the chapter doesn't include @LauraHilliger's bio statement.

[2020-06-22 18:01] semioticrobotic commented on #24
This is [now merged](https://github.com/open-organization/open-org-distributed-work-guide/blob/master/00_sansing-building-movement-from-home.md). Thanks, @chadsansing!

[2020-06-22 18:01] #24 closed

[2020-06-23 18:41] semioticrobotic commented on #12
Ah! Okay. I think I did this in [the wrong thread](https://github.com/open-organization/open-org-distributed-work-guide/pull/26). My mistake. :smile:

Are you able to [view the marginalia now](https://github.com/open-organization/open-org-distributed-work-guide/pull/26)?

[2020-06-23 21:07] #12 closed

[2020-06-23 21:09] semioticrobotic commented on #25
[Successfully merged](https://github.com/open-organization/open-org-distributed-work-guide/pull/27)! Thanks, @MaineC!

[2020-06-23 21:09] #25 closed

[2020-06-23 21:11] semioticrobotic commented on #12
[Merged](https://github.com/open-organization/open-org-distributed-work-guide/pull/26)! Thanks very much, @funnelfiasco.

[2020-06-24 10:57] LauraHilliger commented on #4
I don't understand where this should go? I clicked on the other chapters, and didn't see bios anywhere....please advise?

[2020-06-24 11:01] LauraHilliger commented on #1
Oh it's epic. Inspiring. I literally had to go back to the first draft because I thought "did I contribute any of that"? Turns out we work well together 🥇  Really nice edits!!

[2020-06-24 15:14] semioticrobotic commented on #4
Sorry! I should have been more specific.

The bio goes at the end of each chapter. It's just a two- or three-sentence blurb about you. :smile:

For example, see [Alexis'](https://github.com/open-organization/open-org-distributed-work-guide/blob/master/00_monville-self-organization-management.md) or [Chad's](https://github.com/open-organization/open-org-distributed-work-guide/blob/master/00_sansing

[2020-06-24 15:34] semioticrobotic commented on #1
Heck yes you did! Thanks to you, I just needed to add a few thoughts up front (just some additional context I'd been noodling on). You had the rest already taken care of. That was a huge boon over the weekend (and prompted me to go downstairs, shaking my head in awe of your brilliance, as I explained the work to my partner).

[2020-06-24 15:36] semioticrobotic commented on #12
Sorry to bug you again, @funnelfiasco. When you have a sec, could you add your preferred bio statement to the conclusion of the introduction? I'd overlooked that while editing. No need to reopen this, though (unless you want). Thanks.

[2020-06-25 14:06] semioticrobotic commented on #4
You know what, I'm game to try something different this time 'round. Since we're working differently, I'm proposing a "Contributors" section in the book's back matter that collects all the bio statements in one place (previously, the statements appeared at the end of every chapter). I think this:

1. Makes the book look cleaner in production, and
2. Makes managing bios easier (since they're all in

[2020-06-25 15:38] LauraHilliger commented on #1
Stop it. My head is blowing up!

[2020-06-26 20:08] semioticrobotic opened #28 "Version 0.90 must be proofed for release"
Our "preview release" of the guide is [now in the project repository](https://github.com/open-organization/open-org-distributed-work-guide/tree/master/0.90).

But that release needs to be more thoroughly vetted and proofed before we release it. So let's use this space to coordinate that process.

Please download a copy of the guide and take it for a spin. Notice something odd? Either comment in th

[2020-06-27 17:07] amatlack commented on #28
~@semioticrobotic page 54, "don't getoverlooked" needs a space there~

**Ed: Got it. Thanks!**

[2020-06-29 11:14] semioticrobotic commented on #28
Paging @MaineC: When you have a moment, could you [add your bio statement](https://github.com/open-organization/open-org-distributed-work-guide/blob/master/contributors.md) to `contributors.md`?

[2020-06-29 14:36] tdbeattie commented on #22
@kpennellaRH and I are working on this this week. Some rough notes for the content below:

"Leveraging disruption to drive outcomes and using agility and openness to create a new product for remote, distributed teams."

Background to ways of working with customers, create the context
Challenge / disruption
Instant pivot? Respond to unexpected changes or external forces we can’t predict - constantl

[2020-06-29 18:33] semioticrobotic commented on #22
Looking great, @tdbeattie! Thanks for your work on this. It'll be a great contribution.

[2020-06-29 21:02] funnelfiasco commented on #28
It's weird to have URLs in the body and also in the footnotes. In the Copyright section, would it be better to have something like

    Alice Openorg's "Here's why being cool is totally rad" was originally published on [Example.com](https://example.com/alice/being-cool).

[2020-06-29 21:11] funnelfiasco opened #31 "Copyright clarification"
I didn't really notice until just now, but we're saying that the copyright for this work is owned by Red Hat. The implication is that contributors are assigning copyright to Red Hat. This is not explicitly stated anywhere.

So we should be clear about what's happening with copyright here.

1. Are contributors, in fact, assigning copyright to Red Hat?
2. If so, do contributors retain any rights?
3.

[2020-06-30 13:55] semioticrobotic commented on #28
Yeah, you're right @funnelfiasco. That should be an easy change to make, and I can update that today (I think). I will likely just change the text to something like:

... and then list titles and authors with footnotes to their respective URLs. This is to maintain compliance with the Creative Commons license (apropos the other thread you initiated today, which I will also address shortly!).

**Ed:

[2020-07-01 15:41] semioticrobotic commented on #28
Made lots of changes and additions today. My thanks to everyone for their careful reads and responsiveness to requests. I think we're very close.

If you see anything else that needs fixing in the newly pushed proofs, please let me know.

[2020-07-02 11:10] alexismonville commented on #28
I went through it today, and it looked great to me!

[2020-07-02 11:42] semioticrobotic commented on #28
Thanks so much for your work in doing that, @alexismonville. Appreciated!

Looks like we're nearing time for v0.90 release. I'll begin making preparations.

[2020-07-02 15:30] #4 closed

[2020-07-02 15:31] #28 closed

[2020-07-21 09:45] LauraHilliger commented on #17
Hi! @alexismonville how's this going? We Are Open Co-op has loads we could repurpose here...We recently launched a free email course on it: https://learnwith.weareopen.coop/

[2020-07-21 19:19] iamjessklein commented on #10
Okay here's an outline for what I'm thinking, please let me know your thoughts @LauraHilliger @semioticrobotic  @jimmysjolund

I.   **Remote design is possible, here's how.**
II. **Explore the Problem Space**
III. **Define the problem**
a. what does success look like for your project? (tool: design brief)
b. who are you designing for and what's their happy path? (tools: journey map, personas, hypo

[2020-07-22 07:46] LauraHilliger commented on #10
WHOA @iamjessklein that's a lot!! That's like a write up of the whole open design kit! Looks great, and if you're feeling short of time, maybe just describe one method for those spots where you've got two or three, and link to the rest (in print versions, we can point to the homepage of the ODK)

[2020-07-22 11:05] semioticrobotic commented on #10
Wow! This is awesome, @iamjessklein. I'm stoked for this. We'd love to be able to include a chapter on this material in the guide. @LauraHilliger and I haven't yet put our heads together to determine a release timeline for version 1.0, but I'm guessing it'll be some time in the next two months or so (targeting fall). Think we can make this work?

[2020-07-22 12:48] iamjessklein commented on #10
I'm shooting to have some version of a first draft this week (knock on wood), so after that's available, let's review and see if we think the scope is realistic for the fall. If not, I can cut the scope and write an abbreviated version of this.

[2020-07-22 21:20] semioticrobotic commented on #10
All music to our ears. Thanks, @iamjessklein!

[2020-07-24 21:28] lukefretwell opened #33 "Add a chapter on distributed government"
For your consideration, here's my submission to this amazing publication.

[code]

[2020-07-26 18:32] semioticrobotic commented on #33
This is awesome, @lukefretwell. Thanks so much for pitching it. I'd love to include it in this volume and want to get right to work on some collaborative editing with you.

To that end, I'll open a pull request to include this chapter in the book's "codebase," and work with you on it there. I've invited you to join the project, so watch your inbox for that notice.

[2020-07-26 18:47] semioticrobotic commented on #33
Okay! I've started hacking on this in #34, @lukefretwell. Please feel free to join me there. And again: Thank you!

[2020-07-27 19:34] semioticrobotic commented on #10
Just began the work of onboarding @iamjessklein into the project. Keep an eye open for incoming invitations!

[2020-07-29 09:35] alexismonville commented on #17
Sorry I didn't find the time to work on it...

On Tue, Jul 21, 2020, 11:50 Laura Hilliger <notifications@github.com> wrote:

[2020-07-29 12:53] semioticrobotic commented on #17
Thanks, @alexismonville. Are you are your colleagues still interested in writing this chapter?

[2020-07-29 13:45] alexismonville commented on #17
I did not hear back from them so I feel it felt between the cracks
(adding a note to myself to consider working on it after my two weeks break
:) )
sorry for the lack of commitment

On Wed, Jul 29, 2020 at 2:58 PM Bryan Behrenshausen <
notifications@github.com> wrote:

--

Alexis Monville
*alexis@monville.com <alexis@monville.com>*
M: +33 6 75 73 54 82 <+33+6+75+73+54+82>
@alexismonville <https://

[2020-07-29 18:23] semioticrobotic commented on #17
No worries, @alexismonville. We still have time. And knowing what I know about your proposed chapter, I do not believe it will make something from @LauraHilliger & Co. redundant (or vice versa), so two different chapters on this topic certainly won't be an issue.

[2020-07-29 20:13] alexismonville commented on #17
Thank you for your support Bryan! Let's do it :)

On Wed, Jul 29, 2020, 20:23 Bryan Behrenshausen <notifications@github.com>
wrote:

[2020-08-05 18:18] semioticrobotic commented on #14
How's this going for you, @LappleApple? What can I do to help get it across the finish line?

[2020-08-05 18:19] semioticrobotic commented on #13
@jimmysjolund I get the sense (from our work in another repo), that this is essentially finished. What do you think? Ready to open a PR (or should I)?

[2020-08-06 15:42] iamjessklein commented on #10
Update: I'm really behind on getting this to you. I'm not sure if I am going to make your timing now.

[2020-08-06 15:45] LauraHilliger commented on #10
Don't worry @iamjessklein – it's summer, we'll keep iterating and include your piece when you have time. I'll keep bugging you until you say: 🛑 I just really want a Jess Klein original in this, I've learned TONS from you ❤️

[2020-08-06 16:51] semioticrobotic commented on #10
Hearty +1 to @LauraHilliger: Our deadlines are much less important than the ultimate goal of including this chapter from you in the book. What's a more comfortable timeline for you? We can work with it.

[2020-08-10 14:37] #13 closed

[2020-08-11 15:20] simzacks commented on #8
I was thinking that this chapter would be a good fit for building cohesive remote teams, using virtual coffee breaks, online activities and other interpersonal communication that are not directly related to work.

[2020-08-11 22:13] semioticrobotic commented on #8
I like the idea, @simzacks, and very much welcome a chapter on this topic. If you'd like to get community feedback as you outline and brainstorm, feel free to use this space. I'll update the issue title to reflect your goals.

When you have something substantive for review, we can review it in a more formal pull request.

[2020-08-20 20:24] lasomethingsomething commented on #14
Oh wow, I didn't realise +2 weeks passed. I guess this is what happens when you move house five times in two weeks ... I'm done moving now though, and my Internet is connected!

[2020-08-20 22:30] semioticrobotic commented on #14
Yikes! Glad to hear you're settled. No rush or pressure!

[2020-09-02 13:04] tigert commented on #10
Ideally the design process is tied to the development cycle, so that the design concepts and prototypes etc are created and "maintained" along the development of code.

A bit like what the Red Hat Open Innovation Labs does with their "mobius loop" on the [Open Practice Library site](https://openpracticelibrary.com/tags/discovery) which alternates a "discovery" (design) phase with "delivery" (devel

[2020-09-03 08:41] simzacks commented on #8
I started writing instead of outlining (oops), and just made the PR

[2020-09-08 12:39] semioticrobotic commented on #8
On it! Thanks so much, @simzacks. More soon.

[2020-09-24 19:46] #7 closed

[2020-10-02 03:27] quaid commented on #21
@semioticrobotic  Hey, I dropped out of the editorial loop and my ballpoint pen dried up for a while. Is there still a purpose or use for finishing this content, all or some of it? I'm feeling my ink flowing again with some capacity for this (or something else, but coming back through existing good-ideas-in-progress first). Thanks!

[2020-10-02 12:12] semioticrobotic commented on #21
We'd absolutely still love to have it. Whether it lands in v1.0 will depend on your timeline, but either way we'd love to see it in the book.

[2020-10-14 20:53] semioticrobotic opened #39 "Book needs a cover"
I suppose we should develop a cover for this thing! It's a brave, new world now that our branding has changed and we're no longer beholden to prior templates. I can access internal resources (i.e., a Red Hat designer) to help us with this, but want to offer the opportunity to other community members who might be interested in designing [a book in our awesome series](https://theopenorganization.org

[2020-10-22 10:44] #8 closed

[2020-10-26 12:36] semioticrobotic commented on #14
Any idea when you might be able to wrap this up, @LappleApple? I'm hoping to launch the book by the end of the year and would love if your chapter could be part of it. Happy to help in any way I can.

[2020-10-26 12:38] semioticrobotic commented on #33
Any idea when you might be able to address these edits, @lukefretwell? Asking because I'd still very much love for this chapter to be part of the book when it launches before the end of the calendar year. Please let me know if there's anything I can do to help.

[2020-11-04 00:41] lukefretwell commented on #33
@semioticrobotic sorry about this. I'll review and get back to you by end of next week.

[2020-11-04 12:13] semioticrobotic commented on #33
Sounds great, @lukefretwell. Thanks so much.

[2020-11-04 12:58] semioticrobotic commented on #19
Received draft via email and am reviewing!

[2020-11-10 14:22] semioticrobotic opened #40 "Require updated contributor bios"
As we [prepare for the launch of v1.0](https://github.com/open-organization/open-org-distributed-work-guide/projects/1), we'll want to ensure all contributor bio statements are current.

Newly added authors @amatlack and @simzacks should [add their bio statements](https://github.com/open-organization/open-org-distributed-work-guide/blob/master/contributors.md) to ``contributors.md`` (or send somet

[2020-11-10 14:57] amatlack commented on #40
@semioticrobotic I've added my bio to the file :)

[2020-11-10 15:26] semioticrobotic commented on #19
This is looking great and [is now merged](https://github.com/open-organization/open-org-distributed-work-guide/blob/master/matlack-building-teams-we-want-be-on.md). Thanks so much, @amatlack!

[2020-11-10 15:26] #19 closed

[2020-11-18 11:19] LauraHilliger commented on #1
@semioticrobotic and I chatted about future titling norms and wanted to give @funnelfiasco 's suggestion a go as we feel it's a nice way to open up the creativeness of our community. Plus with the new brand, it's a good time to play around with new norms and see where they take us.

After reviewing the preface and TOC, then walking around a bit thinking on this, I decided the word people or human

[2020-11-18 12:10] LauraHilliger commented on #39
was playing around and i liked my concept. A proper designer could help make this better!
<img width="556" alt="image" src="https://user-images.githubusercontent.com/539017/99528997-666eac00-299f-11eb-93e5-efc1476882e2.png">

[2020-11-18 13:32] funnelfiasco commented on #1
Ooh, I really like "Human at a Distance". How about "Connecting a Distributed Work Community"?

[2020-11-18 13:46] funnelfiasco commented on #39
I love the concept!

[2020-11-18 14:33] semioticrobotic commented on #1
A big :heavy_plus_sign: for *Human at a Distance*. I will also add a few of my own here and begin updating the top post in this thread :point_up: to collect some of the most desirable combinations (also to record @funnelfiasco's nice suggestion).

- Never Remote: The Open Organization Guide to Distributed Teamwork
- The Open Organization Guide to Distributed Teamwork: How to Work Together While Ap

[2020-11-18 14:45] semioticrobotic commented on #39
Love the concept too. A few thoughts from me:

- If the title were something like *Human at a Distance*, should the "highlighted" silhouettes be spread throughout the "matrix of people" rather than clustered together, in a pod of four? In other words: Should they be at a distance from one another, but all the same color to indicate that they're connected?
- I think I would prefer a subtitle withou

[2020-11-18 19:37] trncb commented on #39
Great work @LauraHilliger!

* Similar to @semioticrobotic, my first thought was that the highlighted figures should be "distributed" (😉) rather than in a cluster.
* Also, the colon in the subtitle might be a bit much, what about something like _An Open Organization Guide To Distributed Teamwork_?

[2020-11-19 13:53] LauraHilliger commented on #39
+a million to the distributed people idea, I had it 2 seconds after i posted the images and then lazily did nothing about it.

Ignore my colon (that's none of your business hahahhaha). But seriously, agree, let's get rid of it...after moving a few of the people it looks like:

![image](https://user-images.githubusercontent.com/539017/99674920-eb78c480-2a76-11eb-8e8b-f3a0f7d28d95.png)

[2020-11-19 13:53] LauraHilliger commented on #39
maybe we make a bigger team...

[2020-11-19 16:53] trncb commented on #39
@LauraHilliger The distributed team members look better. What does it look like with another 3 team members added to the cover?

Also, the "To" in _An Open Organization Guide To Distributed Teamwork_. 😉

[2020-11-26 14:10] tigert commented on #39
The big grid of people is nice.

I wonder how it would work if it was somewhat randomly arranged with connecting lines between people, like nodes?

[2020-11-26 15:42] LauraHilliger commented on #39
heya! I've been super busy this week, so I thought I would just upload the Sketch file i made this in in case anyone else had more time to play ;) It's called play.sketch and is in the repo (@semioticrobotic if that's not kosher, please delete as it has, for example, our logo as a build file)

[2020-11-30 13:18] semioticrobotic commented on #39
Cool! Thanks, @LauraHilliger. I see no issue with it. @tigert from @redhatofficial has agreed to lend some design help with the project, and I'm glad to see him chiming in here. @tigert, please do feel free to use the sketch file if that's useful to you. I will also send you our brand guidelines and colors under separate cover.

[2020-12-02 23:23] guywmartin commented on #1
Nothing significant to add here, other than a huge hooray for Human at a Distance!  What a fantastic title for this book!  Can't wait to see it come out and super happy to have been a teeny, tiny part of it. :)

[2020-12-03 14:03] semioticrobotic commented on #1
Thanks so much for the input, @guywmartin! Sounds like strong preference for:

*Human at a Distance: The Open Organization Guide to Distributed Teamwork*

[2020-12-03 14:35] LauraHilliger commented on #39
Added more people, made them all our navy:

![image](https://user-images.githubusercontent.com/539017/101042161-24d42880-357d-11eb-9abc-1619933d658b.png)

[2020-12-03 14:37] LauraHilliger commented on #1
Human at a Distance
An Open Organization Guide to Distributed Teamwork

(no colon, with indefinite article, @semioticrobotic see [cover issue 39](https://github.com/open-organization/open-org-distributed-work-guide/issues/39))?

Are we agreed? Can we close this ticket?

[2020-12-03 14:48] semioticrobotic commented on #1
Yes, sorry! Looks like the preference is "**An** Open Organization Guide..." Happy to go with that, of course.

[2020-12-03 14:49] semioticrobotic commented on #1
Happy to close this and consider this decided, given the strong preferences in favor. Thanks, all! And kudos @LauraHilliger for the great title.

[2020-12-03 14:49] #1 closed

[2020-12-03 14:56] semioticrobotic commented on #39
Love the iteration, @LauraHilliger. My preference would be to eliminate the navy icon in the bottom row of icons (just looks cleaner to my eye), but I am not picky. Thanks for this. So cool.

[2020-12-04 20:11] semioticrobotic commented on #40
Just added @simzacks and will review the entire list soon to ensure we haven't missed anyone.

[2020-12-07 19:56] semioticrobotic commented on #33
Let's plan on slating this for the first update to the book (v1.1) in the new year, rather than the imminent initial release. This way, @lukefretwell has plenty of time to revise and we have some great material already in the works for our first major update.

[2020-12-07 20:03] semioticrobotic commented on #40
Everything updated for v1.0! Thanks, everyone.

[2020-12-07 20:03] #40 closed

[2020-12-09 15:52] LauraHilliger commented on #39
done.
![image](https://user-images.githubusercontent.com/539017/101652765-eb992e00-3a3e-11eb-9891-3082e948fd87.png)

[2020-12-09 16:31] semioticrobotic commented on #39
:heart_eyes:

[2020-12-09 16:33] semioticrobotic commented on #39
(See @trncb comment above about possibility of including the word "to" in "An Open Organization Guide **to** Distributed Teamwork.") :point_up_2:

[2020-12-10 08:58] LauraHilliger commented on #39
oops 😊 forgot that! So if we're liking this, maybe you want to link to the proper dimensions? Or @trncb would you be willing to prepare the file for print? How and when should we get this from a screenshot to production? (Sketch file in this repo is the most recent!)
![image](https://user-images.githubusercontent.com/539017/101749414-01096900-3ace-11eb-998e-1e54a3d688bb.png)

[2020-12-10 12:24] semioticrobotic commented on #39
Thanks so much, @LauraHilliger. I think this is looking great.

[Here are the book creation guidelines and dimensions from Lulu](https://lulupress.my.salesforce.com/sfc/p/#500000006zQ6/a/2J000000IkTE/de5lZ3vwymAajZdpDlLon_M9Xeossysqc9Oy.8lSJR0). These include required cover dimensions and resolutions for printing.

What we now have (above) is roughly one-third of what we need for the "complete pac

[2020-12-11 00:52] lukefretwell commented on #33
@semioticrobotic apologies for the delay on this. I'm going to sync with @joduinn to co-author and help get it across the finish line.

[2020-12-11 18:13] semioticrobotic commented on #33
No problem at all, @lukefretwell. And welcome, @joduinn—the more, the merrier. I look forward to working with you both.

[2020-12-11 19:46] joduinn commented on #33
Hello @semioticrobotic

Nice to e-meet you! Just met with @lukefretwell and we've now set up some coworking times for next week. This looks exciting, so I'm happy to help here. More next week after we start working on the text and going through the various comments already here.

Meanwhile, as part of my getting up to speed here, I'd like to sanity check dates. I see mention of this as no-longer-i

[2020-12-11 20:52] semioticrobotic commented on #33
Thanks, @joduinn, for the introduction and for pitching in. Great to have you!

Your deadline scan furnished accurate data. :smile: We won't rush this in order to get it finished by December 15, but we'll make it a top priority for the next version of the book, coming in 2021. We don't have a _specific_ date for that release right now (we'll set the roadmap and milestones after we ship v1.0), but

[2020-12-11 21:33] joduinn commented on #33
hi @semioticrobotic - thanks for confirming the quick scan results(!) Aiming for Q1 of 2021 is helpful and plenty good enough accuracy for now, thanks.

(More after @lukefretwell and I get focused time on the text next week.)

[2020-12-13 15:21] semioticrobotic commented on #33
Great! Thanks, @joduinn and @lukefretwell. Will be great to have a blockbuster chapter like this one to draw attention to v1.1 next year.

[2020-12-14 14:59] LauraHilliger commented on #39
just resized the Sketch file to 6x9! Great idea to do electronic and then offer print later, good for marketing toooo.

[2020-12-14 17:42] semioticrobotic commented on #39
Thanks, @LauraHilliger.

Since that plan seems fine with you, I will do my best to clean the rest of these files up and produce a set of galleys ASAP. Our original launch date for v1.0 was December 15 (tomorrow as of this writing), and while hitting that seems highly unlikely, I am more confident I can get something done by the end of the week. I'd better, anyway, because after that I'm on winter

[2020-12-15 19:42] semioticrobotic commented on #39
Still working on the galleys, but just to confirm with @LauraHilliger that the cover worked perfectly during testing (as looks amazing!).

[2020-12-16 12:39] semioticrobotic opened #42 "Galley proofs of v1.0 need final review"
I've just pushed galley proofs of v1.0! You'll find them here:

https://github.com/open-organization/open-org-distributed-work-guide/tree/master/books

They could use a once-over before we ship. I will be scrutinizing, and ask any/all interested contributors to do the same. Please use this space to note issues you find, and I'll assume responsibility for fixing them.

Things to note:

- Typographi

[2020-12-16 15:18] semioticrobotic commented on #42
- [x] Capitalization of "Additional [R]esources" is incorrect on page 122.
- [x] Pagination around "Appendix" separator could use work

[2020-12-16 15:48] LauraHilliger commented on #42
@semioticrobotic Ok, skimming through the PDF. A bit nitpicky, so do feel free to ignore. Just things that caught my eye:

- [x] "Dee Hock, the innovative founder of Visa, said it well" | Hanging indent | page 23 (in the pdf)
- [ ] ``wontfix`` top margin at the beginning of articles (for example - pages 38, 54, 63) looks too big?
- [x] Not sure I should point out orphans in headlines, but there is

[2020-12-16 15:51] semioticrobotic commented on #42
*Thank you!* Pick those nits. I turned your bullets into check boxes so I can track as a fix. Great finds.

[2020-12-16 15:58] semioticrobotic commented on #42
This one is intentional, in keeping with the formatting of all our other books. We use a generous top margin at the start of chapters to visually offset them. It's more appropriate in the printed volumes than the digital ones, but I am inclined to flag this as ``wontfix``, at least for now. :smile:

[2020-12-16 16:01] semioticrobotic commented on #42
You should definitely point this out! Unfortunately, two of the quick-fix solutions I attempted did not do the trick, and I think further exploration will involve going through the book template and fixing this at a structural level. So for now, I think perhaps it's best to save for v1.1.

**Edit:** Fixed this with an "editorial hack"—that is, re-writing the title!

[2020-12-16 17:36] semioticrobotic commented on #39
Changing the issue's title a bit, refocusing and aligning it with plans for v1.1 release.

[2020-12-17 18:26] #42 closed

[2020-12-17 19:32] joduinn commented on #33
@lukefretwell as part of our coworking later today, we should look at merging this and #34 issues... there's good stuff in both...

[2020-12-18 01:47] joduinn commented on #33
@semioticrobotic :

I've just finished reviewing all comments in #33 and #34. All are merged into an offline doc that I am working on with @lukefretwell . As best as I can tell, #34 is now obsolete and can be ignored. If there are further comments, lets track them in #33.

(I note I saw a change to contents.md that I am happy to ignore for now - we will need something in contents.md later, once we

[2020-12-18 12:28] semioticrobotic commented on #33
Roger that, @joduinn. I will close #34 with this note. Thanks!

[2020-12-18 12:34] semioticrobotic opened #43 "Duplicate word in introduction"
Eagle-eyed reader @RonMcFarland says notes a duplicate word in line 85 of @funnelfiasco's introduction:

[2021-01-28 16:32] gaurav24072002 commented on #43
I have proposed the changes by removing the duplicate word 'where'
thank's for giving me a chance..

[2021-01-28 20:45] semioticrobotic commented on #43
Thanks! Everything looked great, and I merged your pull request.

[2021-01-28 20:45] #43 closed

[2021-02-25 07:20] MjAbuz opened #46 "🇧🇩 Language 🇧🇩"
### Bangla (BN)

Bangladesh is the only country in the world, where the citizens of this country did fight for their right to speak in Bengali and I guess we all know that 21th Feb the day is now international language. But the sad thing what I realized is in my community not many people uses linuux, not many people heard the word open source and most of them are forced cause there are  not much r

[2021-02-25 20:09] semioticrobotic commented on #46
Thanks for connecting with the project, @MjAbuz. All books in our series (including this one) are [licensed](https://github.com/open-organization/open-org-distributed-work-guide/blob/master/LICENSE.md) via Creative Commons licenses that permit remix and translation into any language you wish. Please feel free to do so!

[2021-02-25 20:23] MjAbuz commented on #46
so i can start translating and pushing it here? Is it possible we create team here for the project
![Screenshot from 2021-02-26 02-16-53](https://user-images.githubusercontent.com/13909949/109212338-9832b280-77d9-11eb-8dbf-0f8388a4547a.png)

[2021-02-25 20:34] semioticrobotic commented on #46
We'll house any translations in project repositories here, in a ``Translations`` folder, alongside the rest of the project code rather than on Opensource.com. You can create a pull request for any translated materials and we will consider it.

I do not know of any active project members proficient in Bangla, but anyone interested in assisting you can certainly use this space!